# System & Environment
.DS_Store
.env
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/
.npm/

# Private Data / Secrets (As requested)
secrets/
private_data/
logs/

# Logs
*.log
*.log.*

# IDE
.vscode/
.idea/
